@Html.Partial("CandidatureOption")
@using S5_RH.Models.bdd.orm
@{
    Annonce annonce = (Annonce)(ViewData["Annonce"]);
}
<div class="container">
    <h1>Annonce</h1>
    <p><strong>Date debut: </strong>@annonce.Debut</p>
    <p><strong>Date fin: </strong>@annonce.Fin</p>
    <p><strong>Description: </strong>@annonce.Details</p>
    <p><a href="http://localhost:5072/Candidature/Postuler?idAnnonce=@annonce.IdAnnoce">Postuler</a></p>
</div>
