@Html.Partial("CandidatureOption")

@model List<S5_RH.Models.bdd.orm.Question>
<div class="container">
<form asp-action="Validation" method="post">
        <h1>Veuillez répondre à toutes les questions.</h1>
        <div class="row" style="padding-top: 2%; padding-bottom: 5%; display: inline;">
            @foreach (var item in Model)
            {
                <div class="col-12 mt-3">
                    <h3>@item.Fanontaniana</h3>
                    <input type="hidden" name="@item.IdQuestion"/>
                    <ul>
                        @foreach (var r in item.Reponses)
                        {
                            <li>
                                <label>@r.Valimpanontaniana</label>
                                <select name="@r.IdReponse">
                                    <option value="1">Vrai</option>
                                    <option value="0">Faux</option>
                                </select>
                            </li>
                        }
                    </ul>
                </div>
            }
            <div style="display: flex; grid-gap: 10px;">
                <button type="submit" class="btn btn-primary mt-5" style="float: right; float: right;">Submit</button>
                <button type="submit" class="btn btn-secondary mt-5" style="float: right; float: right;">Reset</button>
            </div>
        </div>
</form>
<style>
    ul{
        list-style: none;
        display: flex;
        grid-gap: 3%;
    }
</style>
</div>