@Html.Partial("AnnonceOption")
@using S5_RH.Models.bdd.orm
@{
    List<Annonce> annonces = (List<Annonce>)ViewData["Listes"];
}
<div class="container">
    <div class="row">
        @foreach (var a in annonces)
        {
            <div class="card col-3" style="width: 18rem; grid-gap: 5%; border: none; padding: 2%;">
                <img class="card-img-top" src="https://th.bing.com/th/id/OIP.w8KQIS1q7bXCy_NZoy3H2gHaE6?w=333&h=181&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@a.Details</h5>
                    <p class="card-text">@a.Debut</p>
                    <a href="http://localhost:5072/Candidature/DetailsAnnonce?idAnnonce=@a.IdAnnoce" class="btn btn-primary">Details</a>
                </div>
            </div>
        }
    </div>
</div>