@using S5_RH.Models.bdd.orm
@{
    List<Annonce> annonces = (List<Annonce>)ViewData["Listes"];
}
<div class="container">
<table class="table">
    <tr>
        <th>Details</th>
        <th>Debut</th>
        <th>Fin</th>
    </tr>
    @foreach (var a in annonces)
    {
        <tr>
            <td>
                @a.Details
            </td>
            <td>
                @a.Debut
            </td>
            <td>
                @a.Fin
            </td>
            <td>
                <a href="http://localhost:5072/Candidature/DetailsAnnonce?idAnnonce=@a.IdAnnoce">Details</a>
            </td>
        </tr>
    }
</table>
</div>