<div class="container" style="padding-top: 5%; padding-bottom: 5%;">
    <form>
        <div class="row mt-5">
            <div class="col-3">
                <h2>Diplôme</h2>
                
                <div class="input-group d-flex mt-3" id="" style="grid-gap: 0px">
                    <div class="input-group-prepend">
                        <div class="form-control rounded-0 bg-primary bg-opacity-25">Master</div>
                    </div>
                    
                    <select class="form-control rounded-0" id="master">
                        <option>Recommendé</option>
                    </select>
                </div>
                
            </div>
            <div class="col-3">
                <h2>Expérience</h2>
                <div class="input-group d-flex mt-3" id="" style="grid-gap: 0px">
                    <div class="input-group-prepend">
                        <div class="form-control rounded-0 bg-primary bg-opacity-25">Aucune</div>
                    </div>
                    
                    <select class="form-control rounded-0" id="master">
                        <option>Recommendé</option>
                    </select>
                </div>
                
            </div>
            <div class="col-3">
                <h2>Sexe</h2>
                <div class="input-group d-flex mt-3" id="" style="grid-gap: 0px">
                    <div class="input-group-prepend">
                        <div class="form-control rounded-0 bg-primary bg-opacity-25">Homme</div>
                    </div>
                    
                    <select class="form-control rounded-0" id="sexe">
                        <option>Recommendé</option>
                    </select>
                </div>
            </div>
            
            <div class="col-3">
                <h2>Situation</h2>
                <div class="input-group d-flex mt-3" id="" style="grid-gap: 0px">
                    <div class="input-group-prepend">
                        <div class="form-control rounded-0 bg-primary bg-opacity-25">Situation</div>
                    </div>
                    
                    <select class="form-control rounded-0" id="master">
                        <option>Recommendé</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-5">Valider</button>
    </form>
</div>