<div class="container">
    <form>
        <div class="row">
            <div class="col-3">
                <h2>Diplôme</h2>
                <div class="form-group">
                    <label class="master">Master</label>
                    <select class="form-control" id="master">
                        <option>Recommendé</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="licence">Licence</label>
                    <select class="form-control" id="licence">
                        <option>Recommendé</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="baccalaureat">Baccalaureat</label>
                    <select class="form-control" id="baccalaureat">
                        <option>Recommendé</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <h2>Expérience</h2>
                <div class="form-group">
                    <label class="aucune">Aucune</label>
                    <select class="form-control" id="aucune">
                        <option>Recommendé</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="moyen">1-5</label>
                    <select class="form-control" id="moyen">
                        <option>Recommendé</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="plus">5-10</label>
                    <select class="form-control" id="plus">
                        <option>Recommendé</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <h2>Sexe</h2>
                <div class="form-group">
                    <label class="male">Homme</label>
                    <select class="form-control" id="male">
                        <option>Recommendé</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="femme">Femme</label>
                    <select class="form-control" id="femme">
                        <option>Recommendé</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="autre">Autre</label>
                    <select class="form-control" id="autre">
                        <option>Recommendé</option>
                    </select>
                </div>
            </div>
            
            <div class="col-3">
                <h2>Situation</h2>
                <div class="form-group">
                    <label class="celib">Celibataire</label>
                    <select class="form-control" id="celib">
                        <option>Recommendé</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="marie">Matié(e)</label>
                    <select class="form-control" id="marie">
                        <option>Recommendé</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-5">Valider</button>
    </form>
</div>