<div class="container">
    <input class="btn btn-primary" type="submit" value="Ajouter Question"/>
    <div class="form-group" style="margin-left: 1%;">
        <label class="Question mt-3">Entrée la question</label>
        <input type="text" id="Question" class="form-control"/>
        <button class="btn btn-primary mt-3">Réponse +</button>
        <div class="row" id="reponse">
            <div class="col-1">
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name=""/>
                    <input type="checkbox"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>