<div class="container mt-5">
    <div class="row">
        <div class="col-6">Welcome back</div>
        <div class="col-6 mt-3">
            <form asp-action="LoginForPersonnal" asp-controller="Login" method="post">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="text" name="matricule" value="FA0000008" id="form2Example1" class="form-control" />
                    <label class="form-label" for="form2Example1">Matricule</label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            
                <!-- Register buttons -->
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
