<object data="/image/New.pdf"
        type="application/pdf"
        width="100%"
        height="900px">
        <p>
                Télécharger votre pdf <a href="/image/New.pdf">Download >></a>
        </p>
</object>