@Html.Partial("CongeOption");
@model string
@{
    ViewData["Title"] = "Error";
}
<div style="text-align: center;">
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

    <p>
        <strong>ERROR:</strong> <code>@Model</code>
    </p>

</div>