<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div id="table" style="margin: auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="sort" data-sort="id">#</th>
            <th scope="col" class="sort" data-sort="firstname">First Name</th>
            <th scope="col" class="sort" data-sort="lastname">Last Name</th>
            <th scope="col" class="sort" data-sort="username">Username</th>
          </tr>
        </thead>
        <tbody class="list">
          <tr>
            <th scope="row" class="id">1</th>
            <td class="firstname">Mark</td>
            <td class="lastname">Otto</td>
            <td class="username">mdo</td>
          </tr>
        <tr>
          <th scope="row" class="id">2</th>
          <td class="firstname">Jacob</td>
          <td class="lastname">Thornton</td>
          <td class="username">fat</td>
        </tr>
        <tr>
          <th scope="row" class="id">3</th>
          <td class="firstname">Larry</td>
          <td class="lastname">the Bird</td>
          <td class="username">twitter</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-3"></div>
</div>

<style>
  .table [data-sort] {
        cursor: pointer;
    }
    .table [data-sort]::after {
        margin-left: .25rem;
        content: url('data:image/svg+xml;utf8,<svg width=\'6\' height=\'10\' viewBox=\'0 0 6 10\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'><path fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z\' fill=\'%238898aa\'/></svg>');
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<script>
var options = {
  valueNames: [ 'id', 'firstname', 'lastname','username' ]
};

var userList = new List('table', options);
</script>