@model string
@{
    ViewData["Title"] = "Message";
}
<div style="text-align: center;">
    <h1 class="text-primary">Success.</h1>
    <h2 class="text-pimary">An error occurred while processing your request.</h2>

    <p>
        <strong>ERROR:</strong> <code>@Model</code>
    </p>

</div>