@using S5_RH.Models.bdd.orm
@{
    List<Candidature> candidatures = (List<Candidature>)ViewData["ListeEmploye"];
}
<div>
    <h1>Liste des employés</h1>
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Contact</th>
            <th>Poste</th>
        </tr>
        @foreach (var emp in candidatures)
        {
            <tr>
                <td>@emp.Nom</td>
                <td>@emp.Prenom</td>
                <td>@emp.Contact</td>
                <td>@emp.DateDeNaissance</td>
                <td><a href="/Pdf/GenererContrat?IdCandidature=@emp.IdCandidature">Contrat</a></td>
                <td><a href="/Pdf/GenererFicheDePoste?IdCandidature=@emp.IdCandidature">Fiche de poste</a></td>
            </tr>
        }
    </table>


</div>