@Html.Partial("EmployeOption");

@using S5_RH.Models.bdd.orm
@{
    List<Candidature> candidatures = (List<Candidature>)ViewData["ListeCandidature"];
}
<div class="container">
    <h1>Liste des candidats</h1>
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Contact</th>
            <th>Poste</th>
        </tr>
        @foreach (var emp in candidatures)
        {
            <tr>
                <td>@emp.Nom</td>
                <td>@emp.Prenom</td>
                <td>@emp.Contact</td>
                <td>@emp.DateDeNaissance</td>
                <td><a href="/Contrat/ContratEssai?id=@emp.IdCandidature">Contrat Essai</a>
                
            </tr>
        }
    </table>
</div>